<!DOCTYPE html>
<html>


<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Blog Post Archive
    </h1>
    <p>
        <% 
        for (var i = 0; i < postArr.length; i++) {
            let currPost = postArr[i];
            if(currPost) {
    %>
        <a href="/blog/" + <%=user %> + "/" +
            <%= currPost.postid %>>
            <%= currPost.title %> </a><br>
        <%
            }
        }
    %>

        <%= body %>
        <%= postid %>
        <%= created %>
        <%= modified %>
    </p>
</body>

</html>